# macOS
.DS_Store

# Python environment and cache
.venv/
__pycache__/
*.pyc

# Local credentials and configuration
.env
.env.*
!.env.example
/dbt/profiles.yml

# DuckDB database
*.duckdb
*.duckdb.wal

# dbt
/dbt/logs/
/dbt/target/
logs/
.user.yml

PLAN.md
